<md-toolbar color="primary">
  <span>Logo</span>
</md-toolbar>

<div class="login-container">
  <md-card class="login-card">
    <md-card-title>
      Login
    </md-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <md-card-content class="login-content">
        <md-form-field class="login-form">
          <input mdInput class="form-control" placeholder="Email" type="text" formControlName="userName" >
          <md-error *ngIf="loginForm.controls['userName'].hasError('required') && loginForm.controls['userName'].touched">
            Email is required
          </md-error>
          <md-error *ngIf="!loginForm.controls['userName'].hasError('required') && loginForm.controls['userName'].hasError('email')">
            Please input a valid email
          </md-error>
        </md-form-field>
        <md-form-field class="login-form">
          <input mdInput class="form-control" placeholder="Password" type="password" formControlName="password" >
          <md-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is required
          </md-error>
          <md-error *ngIf="!loginForm.controls['password'].hasError('required') && loginForm.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long
          </md-error>
        </md-form-field>
      </md-card-content>
      <hr>
      <md-card-actions class="login-actions right">
        <button md-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login here</button>
      </md-card-actions>
    </form>
    <hr>
    <md-card-actions class="login-actions">
      <button md-button (click)="forgotPassword()">Forgot your password?</button>
      <button md-raised-button (click)="register()" color="primary">Register</button>
    </md-card-actions>
  </md-card>
</div>
