<md-toolbar color="primary">
  <span>Logo</span>
</md-toolbar>

<div class="login-container">
  <md-card class="login-card">
    <md-card-title>
      Login
    </md-card-title>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <md-card-content class="login-content">
        <md-form-field class="login-form">
          <input mdInput placeholder="Email" required type="text" class="form-control" #userName="ngModel"
                 name="username" [(ngModel)]="model.userName" >
          <md-error *ngIf="userName.hasError('required')">
            Email is required
          </md-error>
          <md-error *ngIf="!userName.hasError('required') && userName.hasError('email')">
            Please input a valid email
          </md-error>
        </md-form-field>
        <md-form-field class="login-form">
          <input mdInput placeholder="Password" required minlength="6" type="password" class="form-control"  #pass="ngModel"
                 name="password" [(ngModel)]="model.password" >
          <md-error *ngIf="pass.hasError('required')">
            Password is required
          </md-error>
          <md-error *ngIf="!pass.hasError('required') && pass.hasError('minlength')">
            Password must be at least 6 characters long
          </md-error>
        </md-form-field>
      </md-card-content>
      <hr>
      <md-card-actions class="login-actions right">
        <button md-raised-button type="submit" color="primary" [disabled]="!loginForm.form.valid">Login here</button>
      </md-card-actions>
    </form>
    <hr>
    <md-card-actions class="login-actions">
      <button md-button (click)="forgotPassword()">Forgot your password?</button>
      <button md-raised-button (click)="register()" color="primary">Register</button>
    </md-card-actions>
  </md-card>
</div>
