<md-toolbar color="primary">
  <span>Logo</span>
</md-toolbar>

<div class="registration-container">
  <md-card class="registration-card">
    <md-card-title>
      Registration
    </md-card-title>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
      <md-card-content class="registration-content">

        <md-form-field class="registration-form">
          <input mdInput placeholder="Email" class="form-control" type="text" formControlName="userName">
          <md-error *ngIf="registrationForm.controls['userName'].hasError('required')">
            Valid email is required
          </md-error>
          <md-error *ngIf="!registrationForm.controls['userName'].hasError('required') &&
                            registrationForm.controls['userName'].hasError('email')">
            Please input a valid email
          </md-error>
        </md-form-field>

        <md-form-field class="registration-form">
          <input mdInput placeholder="Password" type="password" formControlName="password" >
          <md-error *ngIf="registrationForm.controls['password'].hasError('required')">
            Password is required
          </md-error>
          <md-error *ngIf="!registrationForm.controls['password'].hasError('required') &&
                           registrationForm.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long
          </md-error>
        </md-form-field>

        <md-form-field class="registration-form" [ngClass]="{error: registrationForm.hasError('passwordNotMatch')}">
          <input mdInput placeholder="Repeat password" type="password" formControlName="passwordRepeat"
                 [errorStateMatcher]="passwordMatcher">
          <md-error *ngIf="registrationForm.controls['passwordRepeat'].hasError('required')">
            Password is required
          </md-error>
          <md-error *ngIf="!registrationForm.controls['passwordRepeat'].hasError('required') &&
              registrationForm.hasError('passwordNotMatch')">
            Passwords do not match
          </md-error>
        </md-form-field>
      </md-card-content>
      <hr>
      <md-card-actions class="registration-actions right">
        <button md-raised-button type="submit" color="primary"
                [disabled]="registrationForm.invalid">
          Register
        </button>
      </md-card-actions>
    </form>
    <hr>
    <md-card-actions class="registration-actions">
      <button md-button color="primary" (click)="forgotPassword()">Forgot your password?</button>
      <button md-raised-button (click)="login()" color="primary">Login</button>
    </md-card-actions>
  </md-card>
</div>
