<md-toolbar color="primary">
  <span>Logo</span>
</md-toolbar>

<div class="forgot-container">
  <md-card class="forgot-card">
    <md-card-title>
      Forgot Password
    </md-card-title>
    <md-card-content class="forgot-content">
      <md-form-field class="forgot-form">
        <input mdInput class="form-control" placeholder="Email" [formControl]="email">
        <md-error *ngIf="email.hasError('required')">
          Email is required
        </md-error>
        <md-error *ngIf="!email.hasError('required') && email.hasError('email')">
          Please input a valid email
        </md-error>
      </md-form-field>
    </md-card-content>
    <hr>
    <md-card-actions class="forgot-actions right">
      <button md-raised-button type="submit" color="primary" [disabled]="email.invalid" (click)="onSubmit(email)">
        Recover password
      </button>
    </md-card-actions>
    <hr>
    <md-card-actions class="forgot-actions">
      <button md-button (click)="register()" color="primary">Register</button>
      <button md-raised-button (click)="goToLogin()" color="primary">Go to login page</button>
    </md-card-actions>
  </md-card>
</div>
